.reloj{
	/* font-family: 'Rock Salt', cursive; */
	/* font-family: 'Poiret One', cursive; */
	font-family: 'Jura', sans-serif;
	font-size: 13px;
	margin-right: 10px;
	color: #000000
	text-align: center;
}


